################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/ElginPayBridge_Demo_Winforms/v17
/.vs
/Exemplo_E1Bridge/bin
/Exemplo_E1Bridge/obj
